<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Kevin's Site</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Some pics of places and us...</p>

            <img class="portrait zoom" src="/images/20180604_140120.jpg">
            <img class="portrait zoom" src="/images/20211127_131612.jpg">
            <img class="portrait zoom" src="/images/20180604_140155.jpg">

            <img class="portrait zoom" src="/images/20180531_150846.jpg">
            <img class="portrait zoom" src="/images/20220516_102209.jpg">
            <img class="portrait zoom" src="/images/20180604_135250.jpg">

            {{!-- <img class="portrait" src="/images/20220517_225831.jpg"> --}}
            <img class="portrait zoom" src="/images/20220519_180826.jpg">
            <img class="portrait zoom" src="/images/20220605_112535.jpg">
            <img class="portrait zoom" src="/images/IMG_1168.JPG">

            <img class="portrait zoom" src="/images/IMG_1191.JPG">

        </div>
        {{>footer}}
    </body>
</html>
