<footer>
    <a href="https://www.youtube.com/@KevinOHanlon71"><img class="logo" src="/images/logo-youtube.png"></a>
    <a href="https://www.instagram.com/kevinohanlon71/"><img class="logo" src="/images/logo-instagram.png"></a>
</footer>